$mainFont: Arial, sans-serif;
$secFont: 'Courier New', Courier;
$btnFont: Roboto, sans-serif;

.bgText{
    font-size: 40px;
}

.mdText{
    font-size: 32px;
}

.btnText{
    font-size: 24px;
}

.smText{
    font-size: 16px;
}